.feedback_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 600px;
  height: fit-content;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  font-size: 35px;
}
.header{
font-size: 40px;
margin: 0;
 }

.emoji {
  font-size: 40px;       
  text-align: center;
  margin-bottom: 15px;    
 }
 .button_control {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px
} 
.button_row {
  display: flex;          
  gap: 15px;   
  width: 400px;        
  justify-content: center;  
  align-items: center;     
}
